:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    font-family: var(--font-family-sans-serif);
    line-height: 1.5rem;
}

html[data-theme='light'] {
    --text-color: #101010;
    --textAlt-color: #04111b;
    --link-color: #293895;
    --input-background: white;
    --secondary-background: hsl(232,57%,95%);
    --background: white;
  }

html[data-theme='dark'] {
    --text-color: white;
    --textAlt-color: #eeeeee;
    --link-color: white;
    --input-background: #122f6a;
    --secondary-background: #021739;
    --background: #04111b;
  }

html[data-theme='high-contrast'] {
    --text-color: white;
    --textAlt-color: #eeeeee;
    --link-color: white;
    --input-background: black;
    --secondary-background: #202020;
    --background: black;
}

html.color-theme-in-transition,
html.color-theme-in-transition * {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: hidden;
    min-height: 100vh;
    margin: 0;
    font-size: 16px;
}

aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 1.5rem;
    color: var(--textAlt-color);
    background-color: var(--secondary-background);
}

main {
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    */
    color: var(--text-color);
    background-color: var(--background);
}

@media (min-width: 48rem) {
    aside {
        flex: nowrap;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    aside > * {
        flex: 0 1 48%;
    }
}

@media (min-width: 72rem) {
    body {
        align-content: stretch;
        flex-wrap: nowrap;
    }

    aside {
        min-width: 18rem;
        max-height: 100vh;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-end;
        align-content: space-between;
        flex: 1;
    }

    aside > * {
        flex: 0 1 auto;
    }

    main {
        flex: 6;
    }
}

input,
select {
    padding: .375rem .75rem;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    background-color: var(--input-background);
    color: var(--input-text);
    border: 0;
}

a {
    color: var(--link-color);
}

h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

.loading {
    font-size: 1.5rem;
    text-align: center;
    color:#aaaaaa;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    margin-right: 0.5rem;
}

.flight {
    background-color: var(--background);
    -webkit-font-feature-settings: "zero";
    font-feature-settings: "zero";
    font-variant-numeric: slashed-zero;
    line-height: 100%;
    font-kerning: normal;
    -webkit-font-kerning: normal;
    -ms-font-kerning: normal;
    -moz-font-kerning: normal;
    -o-font-kerning: normal;
    font-variant-ligatures: contextual common-ligatures;
    -webkit-font-variant-ligatures: contextual common-ligatures;
    -ms-font-variant-ligatures: contextual common-ligatures;
    -moz-font-variant-ligatures: contextual common-ligatures;
    -o-font-variant-ligatures: contextual common-ligatures;
}